
<p id="pEmail">{{email}}</p>
<input type="text", name="newParssword", id="inputNewParssword" placeholder="Input your new Password"/>
<input type="text", name="newParsswordVerify", id="inputNewParsswordVerify" placeholder="Verify your new Password"/>
<input type="button" id="btnResetPassword" value="Reset Password"/>

<script src="/scripts/resetPassword.js"></script>