
<p id="pEmail">{{email}}</p>
<input type="text", name="verify", id="inputVerifyCode" placeholder="Input you verify Code that has been send to your Email!"/>
<input type="button" id="btnVerifyEmail" value="Verify your code!"/>

<script src="/scripts/verifyEmail.js"></script>